* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}
nav .navInside {
  display: flex;
  max-width: 95%;
  height: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
nav .navInside .logo {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
}
nav .navInside .logo img {
  width: 100%;
}
nav .navInside ul {
  display: flex;
  height: 100%;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
nav .navInside ul a {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
nav .navInside .fa-bars {
  font-size: 40px;
  display: none;
}

@media only screen and (max-width: 810px) {
  nav {
    max-width: 100%;
  }
  nav .navInside ul {
    display: none;
  }
  nav .navInside .fa-bars {
    display: block;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

img {
  width: 100%;
}

#home {
  width: 100%;
  min-height: 100vh;
  background-image: url(https://preview.colorlib.com/theme/sierra/img/home-slider/slider-bg-1.png.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#home .mainTexts {
  max-width: 60%;
  min-height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
#home .mainTexts .choose {
  width: 60%;
  font-family: "Roboto", sans-serif;
}
#home .mainTexts .choose h1 {
  font-size: 70px;
  margin-bottom: 25px;
}
#home .mainTexts .choose p {
  font-size: 20px;
  margin-bottom: 25px;
}
#home .mainTexts .compImage {
  width: 40%;
}

@media only screen and (max-width: 980px) {
  #home .mainTexts .choose {
    width: 100%;
  }
  #home .mainTexts .choose h1 {
    font-size: 50px;
    transition: 0.5s;
  }
  #home .mainTexts .compImage img {
    display: none;
    transition: 0.5s;
  }
}
#young {
  width: 100%;
}
#young .rows {
  width: 60%;
  min-height: 100%;
  margin: auto;
  padding: 80px 0px;
}
#young .rows .textrow {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
#young .rows .textrow img {
  width: 50px;
  height: 50px;
}
#young .rows .textrow p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: gray;
}
#young .rows .textrow h2 {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
#young .rows .boxrow {
  display: flex;
  gap: 20px;
}
#young .rows .boxrow .box {
  width: 33.3%;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 10px;
  transition: 0.8s;
}
#young .rows .boxrow .box .boxInside {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#young .rows .boxrow .box .boxInside i {
  color: gray;
  font-size: 60px;
  opacity: 0.4;
}
#young .rows .boxrow .box .boxInside h2 {
  font-family: "Roboto", sans-serif;
}
#young .rows .boxrow .box .boxInside p {
  color: gray;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
#young .rows .boxrow .box .boxInside button {
  opacity: 0;
  transition: 0.7s;
}
#young .rows .boxrow .box:hover .read {
  transition: 0.8s;
  opacity: 0.8;
}
#young .rows .boxrow .box:hover {
  transform: scale(1.05);
  transition: 0.8s;
}

@media only screen and (max-width: 908px) {
  #young .rows .boxrow {
    flex-wrap: wrap;
  }
  #young .rows .boxrow .box {
    width: 100%;
  }
}
@media only screen and (min-width: 909px) and (max-width: 1350px) {
  #young .rows .boxrow {
    flex-wrap: wrap;
    justify-content: center;
  }
  #young .rows .boxrow .box {
    width: 47%;
  }
}
#portfolio {
  font-family: "Roboto", sans-serif;
  height: fit-content;
}
#portfolio .iphone {
  padding: 60px 50px;
  min-height: 600px;
  display: flex;
  align-items: center;
}
#portfolio .iphone .best {
  width: 40%;
  min-height: 600px;
  display: flex;
  align-items: center;
  background-image: url(https://preview.colorlib.com/theme/sierra/img/3d-slider-shap.png.webp);
  background-size: 595px;
  background-repeat: no-repeat;
  background-position: center;
}
#portfolio .iphone .best .chriss {
  max-width: 50%;
  margin: auto;
}
#portfolio .iphone .best .chriss h2 {
  margin-bottom: 20px;
}
#portfolio .iphone .best .chriss p {
  color: wheat;
}
#portfolio .iphone .best .chriss .profile {
  display: flex;
  margin-top: 30px;
  align-items: center;
  gap: 10px;
}
#portfolio .iphone .best .chriss .profile img {
  width: 50px;
  min-height: 50px;
}
#portfolio .iphone .best .chriss .profile .profileImage :nth-child(1) {
  margin-bottom: 10px;
  color: black;
}
#portfolio .iphone .best .chriss .profile .profileImage p {
  font-weight: bold;
}
#portfolio .iphone .features {
  display: flex;
  min-height: 100%;
  width: 60%;
}
#portfolio .iphone .features .stand {
  display: flex;
  align-items: center;
  width: 70%;
}
#portfolio .iphone .features .stand .hide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  max-width: 60%;
  margin: auto;
}
#portfolio .iphone .features .stand .hide p {
  color: gray;
  font-weight: bold;
}
#portfolio .iphone .features .stand .hide img {
  width: 50px;
  min-height: 50px;
}
#portfolio .iphone .features .iphoneImage {
  width: 30%;
}
#portfolio .iphone .features .iphoneImage img {
  width: 100%;
}

@media only screen and (max-width: 908px) {
  #portfolio .iphone {
    flex-wrap: wrap;
  }
  #portfolio .iphone .best {
    width: 100%;
  }
  #portfolio .iphone .features {
    width: 100%;
  }
  #portfolio .iphone .features .stand {
    width: 100%;
  }
  #portfolio .iphone .features .iphoneImage {
    display: none;
  }
}
@media only screen and (min-width: 909px) and (max-width: 1350px) {
  #portfolio .iphone {
    flex-wrap: wrap;
  }
  #portfolio .iphone .best {
    width: 100%;
  }
  #portfolio .iphone .features {
    width: 100%;
    flex-wrap: wrap;
  }
  #portfolio .iphone .features .stand {
    width: 70%;
  }
  #portfolio .iphone .features .iphoneImage {
    width: 30%;
  }
}
#strong {
  width: 100%;
  min-height: 1000px;
}
#strong .team {
  width: 80%;
  margin: auto;
  display: flex;
  padding: 100px 0;
}
#strong .team .teamInside {
  width: 60%;
  display: flex;
  align-items: center;
}
#strong .team .teamInside .build {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  max-width: 60%;
  margin: auto;
}
#strong .team .teamInside .build p {
  color: gray;
  font-weight: bold;
}
#strong .team .teamInside .build img {
  width: 50px;
  min-height: 50px;
}
#strong .team .teamInside .build ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#strong .team .teamInside .build ul li {
  width: 46%;
  list-style-type: disc;
  color: aqua;
}
#strong .team .teamInside .build ul li a {
  color: gray;
  transition: 0.5s;
}
#strong .team .teamInside .build ul li a:hover {
  color: aqua;
  transition: 0.5s;
}
#strong .team .images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#strong .team .images img {
  width: 46%;
  border-radius: 10px;
  transition: 0.5s;
}
#strong .team .images img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media only screen and (max-width: 908px) {
  #strong .team {
    flex-wrap: wrap;
  }
  #strong .team .teamInside {
    width: 100%;
  }
  #strong .team .teamInside .build ul li {
    width: 100%;
  }
  #strong .team .teamInside .images {
    width: 100%;
  }
  #strong .team .teamInside .images img {
    width: 100%;
  }
}
@media only screen and (min-width: 909px) and (max-width: 1350px) {
  #strong .team {
    flex-wrap: wrap;
  }
  #strong .team .teamInside {
    width: 100%;
  }
  #strong .team .teamInside .build ul li {
    width: 100%;
  }
  #strong .team .teamInside .images {
    width: 100%;
    justify-content: center;
  }
  #strong .team .teamInside .images img {
    width: 0%;
  }
}
button {
  text-align: center;
  color: white;
  line-height: 55px;
  border-width: 6px;
  padding: 0 46px;
  font-weight: 500;
  font-size: 15px;
  font-size: 20px;
  background-image: linear-gradient(to right, rgb(71, 166, 255), purple);
  border-radius: 35px;
  border: 7px solid rgb(175, 231, 231);
}/*# sourceMappingURL=main.css.map */